.App-title  {
  font-family: 'Raleway Dots', 'VT323', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #8F4117;
  text-shadow: -3px -3px #CC845E;
  font-size: calc(170px + 1vmin);
}

.App-header {
  background-color: #C3DAE6;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  border-left: solid gray 1px;
  height: 40vh;
}