.heading {
    display: flex;
    justify-content: space-between;
}

#container {
    padding: 10px;
    font-family: cursive;
}

#game-over-container {
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over-button {
    position: relative;
    background-color: #ffffff;
    color: black;
}

.hidden {
    opacity: 0;
    z-index: 1;
}

.visible {
    opacity: 1;
    color: white;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto; 
    margin-right: auto;
    z-index: 1;
}

.game-over {
    opacity: 0.6;
    background-color: #282C35;
}

.ongoing {
    background-color: #282C35;
}

#my-canvas {
    margin: 0 auto;
    display: block;
}