.App {
  text-align: center;
}

.App-button {
  width: 20vmin;
  height: 7vmin;
  border-radius: 50%;
  background-color: #D8FBFE;
  border: 1px solid black;
}

.App-button:hover  {
  background-color: #738C99;
}

.App-title  {
  font-family: 'Raleway Dots', 'VT323', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #8F4117;
  text-shadow: -3px -3px #CC845E;
  font-size: calc(170px + 1vmin);
}

.App-header {
  background-color: #C3DAE6;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  border-left: solid gray 1px;
  height: 50vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
